* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
li {
  font-family: sans-serif;
  color: #444;
}

body {
  border-top: 10px solid #fa1919;
}

nav {
  font-size: 18px;
}

article {
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border: 5px solid #fa1919;
  padding: 50px 0;
  width: 500px;
}

h1,
h2,
h3 {
  color: #ad2929;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  margin-top: 40px;
  font-size: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  margin: bottom 15px;
  line-height: 1.5;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0px;
}

/* footer p {
  font-size: 16px;
} */

/*article header p {
  font-style: italic;
}*/

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.related {
  list-style: none;
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
li:first-child {
  /* color: aqua; */
}

li:nth-child(3) {
  /* color: #01b3ff; */
}
/* Missconsuption: this wont work!!! */
article p:first-child {
  color: aquamarine;
}
/* styling links */
a:link {
  color: #146bb8;
  text-decoration: none;
}
a:visited {
  color: #146bb8;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}
a:active {
  background-color: black;
  font-style: italic;
}
/* LVHA for easy remmembrance */
.post-img {
  width: 50%;
  height: auto;
}
