body {
  border: 5px solid;
  font-family: sans-serif;
}
article header:first-child {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-family: sans-serif;
  background-color: #c2c2c2;
}
.amount {
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 22px;
}
a:hover {
  text-decoration: none;
}
a:active {
  color: black;
}
a:link {
  color: black;
  text-size: 20px;
}
a :visited {
  color: black;
}
.list {
  font-family: sans-serif;
  list-style-type: square;
}
button {
  background-color: black;
  color: white;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: black;
}
